// Exploring Colors
$linen: hsl(33, 15%, 97%);
$arl-red: #691214;
$arl-gold: #d2b33a;

$arl-red-light: lighten(
  $color: $arl-red,
  $amount: 35
);

//  Override bootstrap variables
$font-family-sans-serif: 'Source Sans Pro';
$headings-font-family: 'Crimson Text';
$white: $linen;

:export {
  arl-red: $arl-red;
  arl-red-lighten: $arl-red-light;
}

// Table coloring
$row-odd: #f9f9f9;
$row-even: #fff;
