#about-page {
  h1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 2.5rem;
    // border-width: 0 0 0 0;
    border-bottom: 1px solid black;
  }
  p,
  ol {
    margin-bottom: 0.5rem;
  }
  .faq-entry {
    margin-bottom: 2rem;
  }
  #intro {
    max-width: 800px;
    margin: auto;
  }
}
