@import '_variables.scss';

footer {
  background: $dark-transparent;
  padding: 1rem 0;

  .nav {
    font-family: $headings-font-family;
    margin-bottom: 1rem;
  }
  a {
    color: $primary;
  }
  p {
    margin-bottom: 0.25rem;
  }
}
