@import '_variables.scss';

footer {
  background: $dark-transparent;
  font-size: 0.8rem;
  padding: 0.5rem 0;

  .nav {
    font-family: $headings-font-family;
  }

  a {
    color: $primary;
  }
  p {
    margin-bottom: 0.25rem;
  }
  #footer-disclaimers {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  footer {
    padding: 0.5rem 0;
    .nav {
      margin-bottom: 0.5rem;
    }
  }
}
