@import "_variables.scss";

#homepage-jumbotron {
  width: 100vw;
  height: 70vh;
  background-image: url("../images/mail-vote.jpg");
  background-size: cover;
  #jumbotron-text {
    width: 33vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: $white;
    padding: 2rem;
    h1 {
      max-width: 450px;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
    a {
      font-size: $font-size-sm;
    }
  }
}

// .react-select-container {

// }
.react-select__control {
  background: rgba(1, 1, 1, 0.2);
  border-radius: 0;
}
.react-select__value-container {
}
.react-select__indicators {
}
.react-select__menu {
}
.react-select__menu-list {
}
.react-select__option {
}
