@import '_variables.scss';

#homepage-splash {
  width: 100vw;
  height: 80vh;
  background-position: center left;
  background-image: url('../images/mail-vote.jpg');
  background-size: cover;
  #splash-content {
    width: 45vw;
    height: 100%;
    background: $dark-transparent;
    color: $white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    h1 {
      max-width: 550px;
    }
    p {
      max-width: 300px;
      font-size: 1.25rem;
    }
    a {
      max-width: 450px;
      font-style: italic;
      color: $primary;
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width: 1200px) {
  #homepage-splash #splash-content {
    width: 33vw;
  }
}

@media only screen and (max-width: 768px) {
  #homepage-splash {
    width: 100vw;
    height: 50vh;
    #splash-content {
      width: 100vw;
      height: 50vh;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
