@import '_variables.scss';

.table {
  height: 85vh;
  margin-bottom: 0 !important;
  &.sticky {
    overflow: scroll;

    th[role='columnheader'] {
      vertical-align: top;
      padding: 0.5rem;
    }
    .info-button {
      position: relative;
      right: 0;
      top: 5px;
    }
    .column-header-wrapper {
      margin: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .column-header-tooltip {
      max-width: 200px;
      text-align: center;
      word-wrap: break-word;
    }

    .header {
      position: sticky;
      width: fit-content;
      top: 0;
      box-shadow: 0px 3px 3px #ccc;
    }

    .reelection-row {
      background: $arl-gold;
    }

    .footer {
      bottom: 0;
      box-shadow: 0px -3px 3px #ccc;
    }

    .body {
      position: relative;
      z-index: 0;
    }

    [data-sticky-td] {
      position: sticky;
      left: -1px !important;
    }

    [data-sticky-last-left-td] {
      box-shadow: 2px 0px 3px #ccc;
    }

    [data-sticky-first-right-td] {
      box-shadow: -2px 0px 3px #ccc;
    }

    td.body {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > thead > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $row-odd;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > thead > tr:nth-child(even) > th,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: $row-even;
}

@media only screen and (max-width: 768px) {
  .table-wrapper {
    margin-left: -0.75rem;
  }
}
